<% layout('layouts/boilerplate') %> 

<div class="container">
  <form action="/apartments" method="POST" class="validated-form" novalidate enctype="multipart/form-data">         
    <div class="mb-3">
        <label  class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="apartment[title]" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="apartment[location]" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter valid location
        </div>
        </div>

        <div class="mb-3">
             <label for="image" class="form-label">Upload image(s)..</label>
              <input class="form-control" type="file" id="image" name="image" multiple>
              <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
               Please upload an image
            </div>
        </div>

    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" name="apartment[price]" aria-label="Amount (to the nearest dollar)">
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
           Price should be 0 or higher
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
    <input class="form-control" type="text" id="description"  name="apartment[description]" required>
    <div class="valid-feedback">
        Looks good!
    </div>
    <div class="invalid-feedback">
        Please provide description
    </div>
    </div>
   <div class="mb-3">
    <label for="BHK">BHK:</label>
    <select class="form-select form-select-lg" aria-label=".form-select-lg example" name="apartment[BHK]">
        <option selected>Open this select menu</option> 
        <% for(let bhk of BHK){ %>
            <option value="<%=bhk%>"><%=bhk%> </option>
            <% } %>
        
      </select>
   </div>
    <div class="mb-3">
        <button class="btn btn-success py-2 ">Create</button>
    </div>
  </form>
</div> 

